<div id="navbar">
  <a href="/artists" class="button-1">Browse Artists</a>
  <a href="/artworks" class="button-1">Browse Artworks</a>
  <a href="/users/<%=current_user.slug%>" class="button-1">My Collections</a>
  <a href="/logout" class="button-1">Log Out</a>
</div>

<h1>Create a new collection</h1>

<form action="/collections" method="post">
  <label>Name: </label><input type="text" name="collection[name]" placeholder="my collection">
  <br></br>

  <label>Get your collection started by adding artworks from the list below</label>
  <br>
  <%Artwork.all.each do |a|%>
  <input type="checkbox" name="collection[artwork_ids][]" value="<%=a.id%>"> <%=a.name%><br />
  <%end%>

  <br></br>

  <input type="submit" value="Create Collection">
</form>
