<div id="navbar">
  <a href="/collections/<%=current_collection.id%>" class="button-1">Back</a>
</div>

<h1>Edit <%=@collection.name%></h1>

<form action="/collections/<%=@collection.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Update name: </label><input type="text" name="collection[name]" placeholder="my collection">
  <br></br>

  <input type="submit" value="Update Collection">
</form>
