<div id="navbar">
  <a href="/artists" class="button-1">Browse Artists</a>
  <a href="/artworks" class="button-1">Browse Artworks</a>
  <a href="/users/<%=current_user.slug%>" class="button-1">My Collections</a>
  <a href="/logout" class="button-1">Log Out</a>
</div>

<h1>Edit <%=@collection.name%></h1>

<form action="/collections/<%=@collection.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Update name: </label><input type="text" name="collection[name]" placeholder="my collection">
  <br></br>

  <input type="submit" value="Update Collection">
</form>
