<div id="navbar">
  <a href="/artists" class="button">Browse Artists</a>
  <a href="/artworks" class="button">Browse Artworks</a>
  <a href="/users/<%=current_user.slug%>" class="button">My Collections</a>
  <a href="/logout" class="button">Log Out</a>
</div>


<h1>create a new artist and add to db --- should you be able to assign new artworks?</h1>
<form action="/artists" method="post">
  <label>Artist Name: </label><input type="text" name="name" placeholder="Caravaggio"><br/>

  <label>Birth Year: </label><input type="text" name="year" placeholder="1492"><br/>

  <label>Hometown: </label><input type="text" name="location" placeholder="Florence, Italy"><br/>

  <label>Style/Movement: </label><input type="text" name="movement" placeholder="Abstract Expressionism"><br/>

  <label>Alive?</label>

  <input type="radio" id="true"
   name="alive" value="true">
  <label for="true">Yes</label>

  <input type="radio" id="false"
   name="alive" value="false">
  <label for="false">No</label>

  <br><br/>

  <label><strong>add an artwork: </strong></label><input type="text" name="artwork[name]" placeholder="name of artwork">
  <label><strong>year:</strong>
  </label><input type="text" name="artwork[year]" placeholder="year">

  <input type="submit" value="Add Artist">
</form>

<!--should a user be able to add an artwork for a new artist? YES-->
<!--should a user be able to assign existing artworks to an artist? (this would override an artwork's current artist)-->
