<div id="navbar">
  <% if logged_in? %>
    <a href="/artists" class="button">Browse Artists</a>
    <a href="/artworks" class="button">Browse Artworks</a>
    <a href="/users/<%=current_user.slug%>" class="button">My Collections</a>
    <a href="/logout" class="button">Log Out</a>
  <% else %>
    <a href="/signup" class="button">Sign Up</a>
    <a href="/artists" class="button">Browse Artists</a>
    <a href="/artworks" class="button">Browse Artworks</a>
  <% end %>
</div>

<p>show a single artist and all of their artworks in the db that links to the artwork show page</p>

<h1><%=@artist.name%></h1>

<br/>
<p><strong>Artworks</strong></p>
<ul>
  <% @artist.artworks.each do |a| %>
    <li><%=a.name%></li>
  <% end %>
</ul>
