<div id="navbar">
  <% if logged_in? %>
    <a href="/artists" class="button-1">Browse Artists</a>
    <a href="/artworks" class="button-1 active">Browse Artworks</a>
    <a href="/users/<%=current_user.slug%>" class="button-1">My Collections</a>
    <a href="/logout" class="button-1">Log Out</a>
  <% else %>
    <a href="/artists" class="button-1">Browse Artists</a>
    <a href="/artworks"class="button-1 active">Browse Artworks</a>
    <a href="/signup" class="button-1">Sign Up</a>
    <a href="/login" class="button-1">Log In</a>
  <% end %>
</div>

<h1>All Artworks</h1>
<ul>
  <% Artwork.all.sort_by{|a| a.name}.each do |a| %>
    <li><a href="/artworks/<%=a.id%>"><%=a.name%></a></li>
  <%end%>
</ul>
