<p>show all artworks in the database with a link to the individual show page</p>

<ul>
  <% Artwork.all.each do |a| %>
    <li><a href="/artworks/<%=a.slug%>"><%=a.name%></a> (<%=a.artist.name%>)</li>
  <%end%>
</ul>
