<h1>Add a new artwork</h1>

<form action="/artworks" method="post">
  <label>Name: </label><input type="text" name="name" placeholder="An Artistic Masterpiece" required>  <br><br/>

  <label>Year: </label><input type="text" name="year" placeholder="1970"><br/>

  <br><br/>

  <label><strong>Choose an artist:</strong></label><br><br/>
  <input type="radio" name="artist" value="">New Artist <input type="text" name="artist" placeholder="name"><br />
  <%Artist.all.each do |a|%>
  <input type="radio" name="artist" value="<%=a.name%>"><%=a.name%></input><br />
  <%end%>

  <br><br/>

  <input type="submit" value="Add Artwork">
</form>
