<h1 style="text-align: center">Create Your Account</h1>
<br>

<form style="text-align: center" action="/users" method="post">
  <label style="text-align: center"><strong>Username</strong></label>
  <input type="text" name="username" placeholder="username">
  <br><br/>

  <label><strong>Email</strong></label>
  <input type="text" name="email" placeholder="you@example.com">
  <br><br/>

  <label><strong>Password</strong></label>
  <input type="password" name="password" placeholder="password"required>
  <br><br/>

  <input type="submit" value="Sign Up">
</form>
