<div id="navbar">
  <a href="/artists" class="button-1">Browse Artists</a>
  <a href="/artworks" class="button-1">Browse Artworks</a>
  <a href="/signup" class="button-1 active">Sign Up</a>
  <a href="/login" class="button-1">Log In</a>
</div>

<div class="content">
  <h1 style>Create Your Account</h1>
  <br>

  <form action="/users" method="post">
    <label>Username</label><br>
    <input type="text" name="username" placeholder="username" required>
    <br></br>

    <label>Email</label><br>
    <input type="text" name="email" placeholder="you@example.com" required>
    <br></br>

    <label>Password</label><br>
    <input type="password" name="password" placeholder="password" required>
    <br/>

    <input class="button-3" type="submit" value="Sign Up">
  </form>
</div>
