<div id="navbar">
  <a href="/signup" class="button">Sign Up</a>
  <a href="/artists" class="button">Browse Artists</a>
  <a href="/artworks" class="button">Browse Artworks</a>
</div>

<h1 style="text-align: center">Login</h1>
<br>

<form style="text-align: center" action="/login" method="post">
  <label style="text-align: center"><strong>Username</strong></label>
  <input type="text" name="username" placeholder="username">
  <br><br/>

  <label><strong>Password</strong></label>
  <input type="password" name="password" placeholder="password"required>
  <br><br/>

  <input type="submit" value="Login">
</form>
