<div id="navbar">
  <% if logged_in? %>
    <a href="/artists" class="button">Browse Artists</a>
    <a href="/artworks" class="button">Browse Artworks</a>
    <a href="/collections/new" class="button">New Collection</a>
    <a href="/logout" class="button">Log Out</a>
  <% else %>
    <a href="/artists" class="button">Browse Artists</a>
    <a href="/artworks" class="button">Browse Artworks</a>
    <a href="/signup" class="button">Sign Up</a>
    <a href="/login" class="button">Log In</a>
  <% end %>
</div>

<h1>Welcome <%=current_user.username%>!</h1>
<ul>
  <% current_user.collections.all.each do |c| %>
    <li><a href="/collections/<%=c.id%>"><%=c.name%></a></li>
  <%end%>
</ul>
