<div id="navbar">
  <a href="/artists" class="button-1">Browse Artists</a>
  <a href="/artworks" class="button-1">Browse Artworks</a>
  <a href="/users/<%=current_user.slug%>" class="button-1 active">My Collections</a>
  <a href="/logout" class="button-1">Log Out</a>
</div>

<div class="col clearfix">
  <div class="col-two-third clearfix">
    <h1>Welcome <%=current_user.username%>!</h1>
  </div>

  <div id="actionbar" class="col-one-third clearfix">
    <button type="button" class="button-2">
      <a href="/collections/new"><i class="material-icons">add</i><strong>Add Collection</a>
    </button>
  </div>
</div>

<div>
  <% if current_user.collections.empty?%>
    <br/>
    <p>You don't have any collections yet!</p>

  <%else%>
    <ul>
      <% current_user.collections.all.each do |c| %>
        <li>
          <strong>
            <a href="/collections/<%=c.id%>"><%=c.name%></a>
          </strong>
        </li>
      <%end%>
    </ul>
  <%end%>
</div>
