<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Art Collector!</h2>

    <div>
      <p>
        Create and manage your own art collections! This is a community-powered database. If there's something missing, please add it.<br></br>
        To get started <a href="/signup"><strong>sign up</strong></a> or <a href="/login"><strong>login</strong></a></p>
    </div>

  </div>
</div>
