<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Art Collector!</h2>

    <div class="content">
      <p>This is a community powered and maintained Create your own art collections! To get started <a href="/signup">sign up</a> or <a href="/login">login</a>.</p>
    </div>

    <div class="sidebar">
      <h3>Did you know...</h3>
      <ul>
        <li>art fact 1</li>
        <li>art fact 2</li>
        <li>art fact 3</li>
      </ul>
    </div>

  </div>
</div>
